@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Dancing+Script:wght@500&family=Italianno&family=Noto+Sans+JP:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fefefa;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../src/Images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  body {
    background-image: linear-gradient(
      180deg,
      #132b3d 0%,
      #213545 40%,
      #385b75 80%,
      #244e6e 100%
    );
  }
}
